<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>上传文件</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <link class="links" type="text/css" rel="stylesheet"
          href="<%=ui%>advert/style.css?v=<%=version%>"/>
</head>
<body>
<div class="header">
    <h1 class="logo">地产客户管理系统</h1>
    <ul class="admin">
        <li class="manage">
            <a class="opts-hit" data-show-target=".manage-content">Admin<em></em></a>
        </li>
    </ul>
</div>
<div class="drop-down drop-arrow manage-content temp-box">
    <ul class="width-140">
        <li><a>商户中心</a></li>
        <li><a class="opts-hit" data-dialog-template="tpl-modify-pass" data-title="修改密码" data-width="500">修改密码</a></li>
        <li><a>退出</a></li>
    </ul>
</div>
<!--修改密码-->
<script id="tpl-modify-pass" type="text/html">
    <form class="ajax-submit" data-source="data/ok.json" data-template="tpl-modify-pwd" data-target=".none"
          data-close-dialog="true">
        <div class="win-dialog modify-pass">
            <p><label for="old-pwd">原密码：</label><input class="input-txt" type="password" name="oldPass" id="old-pwd"
                                                       data-rule="required"/></p>

            <p><label for="password">新密码：</label><input class="input-txt" type="password" name="password" id="password"
                                                        data-rule="新密码:required;password"/></p>

            <p><label for="confirm-pwd">确认新密码：</label><input class="input-txt" type="password" name="confirmPassword"
                                                             id="confirm-pwd"
                                                             data-rule="确认新密码:required;match[password]"/></p>
        </div>
        <div class="dialog-foot tags-foot">
            <button class="btn-gray dialog-close" type="button">取消</button>
            <button class="btn-blue" type="submit">确定</button>
        </div>
    </form>
</script>
<script id="tpl-modify-pwd" type="text/html">
    {{if status}}
    {{alert('success','修改成功,请重新登陆')}}
    {{go('login.shtml')}}
    {{else}}
    {{alert('error',message)}}
    {{/if}}
</script>
<div class="wrap">
    <div class="slide-left">
        <ul>
            <li class="mange on">
                <a>资源管理</a>
                <ul>
                    <li><a>广告投放</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="slide-children">
        <dl>
            <dt>广告投放</dt>
            <dd>
                <ul>
                    <li class="opts-hit first-hit" data-template="tpl-material" data-target=".render-box"><a>上传文件</a>
                    </li>
                </ul>
            </dd>
        </dl>
    </div>
    <div class="slide-right render-box"></div>
</div>
<div id="upload-box"></div>
<!--素材管理-->
<script type="text/html" id="tpl-material">
    <!--面包屑-->
    <div class="crumb">
        素材管理
    </div>
    <div class="btn-message clear-fix">
        <form class="ajax-form" data-source="list" data-template="tpl-material-tag|tpl-material-list"
              data-target=".tag-box|.material-box" data-first-submit="true">
            <div class="left-btn-group f-left" id="container">
                <a class="upload upload-file"
                   data-source="<%= uptoken_url %>"
                   data-target="upload-list"
                   data-dialog-template="tpl-upload-dialog"
                   data-title="文件上传"
                   data-up-before="tpl-up-before"
                   data-up-ing="tpl-uploading"
                   data-up-after="tpl-up-after"
                   data-img-url="http://7xr4ej.com1.z0.glb.clouddn.com/"
                   data-swf="/scripts/up.swf"
                   data-auto-start="true"
                        >上传</a>
                <a class="refresh opts-hit" data-template="tpl-refresh" data-target=".none"></a>
            </div>
        </form>
    </div>
    <div class="results-material">
        <div class="head clear-fix">
            <div class="label-wrap f-left">
                <input id="checkbox-all" class="un-dis" type="checkbox">
                <label class="opts-hit checkbox-all" data-check-target="#checkbox-all"
                       data-check-all-target=".temp-check" data-check-all-input-target=".checkbox-input"></label>
            </div>
            <div class="tag tag-box clear-fix"></div>
        </div>
        <div class="material-box"></div>
    </div>
</script>
<!--素材管理头部列表-->
<script type="text/html" id="tpl-material-tag">
    {{if status}}
    {{$('.checkbox-all').removeClass('icon-ok')}}
    {{$('#checkbox-all').attr('checked',false)}}
    {{$('.path-link').removeClass('on').addClass('opts-hit')}}
    <a class="path-link on" data-source="list" data-parm='{"pid":"{{temp.pid}}","id":"{{temp.id}}"}'
       data-template="tpl-material-tag-edit|tpl-material-list" data-target=".none|.material-box"
       style="z-index:{{if $('.path-link:last').css('z-index')}}{{$('.path-link:last').css('z-index')*1-1}}{{else}}99997{{/if}}">{{if temp.title}}{{temp.title}}{{else}}{{title}}{{/if}}</a>
    {{else}}
    {{message}}
    {{/if}}
</script>
<!--素材管理列表-->
<script type="text/html" id="tpl-material-list">
    {{if status}}
    {{$('.checkbox-all').removeClass('icon-ok')}}
    {{$('#checkbox-all').attr('checked',false)}}
    <div class="content">
        <form class="checked-box">
            <div class="target-box"></div>
            <ul class="clear-fix content-list">
                {{each results as value i}}
                <li>
                    <div class="list {{if value.folder==true}}opts-hit{{/if}} checkbox-parent-list" {{if value.folder==true}}data-source="list"
                         data-parm='{"title":"{{value.name}}","pid":"{{id}}","id":"{{value.id}}"}'
                         data-template="tpl-material-tag|tpl-material-list" data-target=".tag-box|.material-box"
                         data-render-type="append|cover" {{/if}}>
                    <span>{{if !value.folder==true}}<i>{{if value.condition=='success'}}审核通过{{else}}{{if value.condition=='fail'}}审核失败{{else}}未审核{{/if}}{{/if}}</i>{{/if}}<img src='{{value.img}}'/></span>
                    <em>{{value.name}}</em>
                    <input class="input-judge" type="hidden" name="type" value="{{i+1}}" disabled="disabled" />
                    <input class="input-rename un-dis" data-source="data/ok.json" data-parm-form=".checked-box" data-template="tpl-rename-after" data-target=".none" type="text" name="name" value="{{value.name}}" disabled="disabled"/>
                    <input  id="checkbox-{{i}}" name="id" value="{{value.id}}" class="un-dis checkbox-input" type="checkbox">
                    <label class="opts-hit un-dis checkbox temp-check"   data-check-target="#checkbox-{{i}}" data-parm='{"title":"{{value.name}}","pid":"{{id}}","id":"{{value.id}}","img":"{{value.img}}"}'></label></div></li>
    {{/each}}
    </ul>
    </form>
    </div>
    {{else}}
    {{message}}
    {{/if}}
</script>
<!--素材管理头部点击后列表-->
<script type="text/html" id="tpl-material-tag-edit">
    {{$(".path-link:gt("+$('.path-link.on').index()+")").remove()}}
    {{if $(".path-link").length==1}}{{$(".path-link").removeClass("opts-hit")}}{{/if}}
</script>
<!--刷新-->
<script type="text/html" id="tpl-refresh">
    {{sendAjax($('.path-link:last'))}}
</script>
<!--上传弹窗-->
<script id="tpl-upload-dialog" type="text/html">
    <form class="edit-add" data-source="data/ok.json" data-show-tips="true" data-close-dialog="true">
        <p>上传到：</p>
        <div id="upload-list"></div>
    </form>
</script>
<!--上传前模板-->
<script id="tpl-up-before" type="text/html">
    <div class="up-item" id="{{id}}">
        <span class="status">上传中</span>
    </div>
</script>
<!--上传中-->
<script id="tpl-uploading" type="text/html">
    {{percentage}}
</script>
<!--上传后模板-->
<script id="tpl-up-after" type="text/html">
    <img src="{{if isImage}}<%= domain %>{{key}}?imageView2/5/w/64/h/64{{else}}images/default.png{{/if}}" alt=""/>
    <input type="hidden" value="<%= domain %>{{key}}"/>
</script>
<!--footer-->
<script type="text/javascript" src="<%=ui%>wcb.js"
        data-main="advert/base.js?version=<%=version%>"></script>
</body>
</html>